body {
    background-color: rgb(19, 17, 17);
    color: white;
    font-size: 1.25vw;
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 431;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0.94vw;
}

::-webkit-scrollbar-track {
    background: rgb(17, 17, 17);
} 

::-webkit-scrollbar-thumb {
    width: 0.89vw; /* 17px */
    background: url('images/scrollbar-thumb.png') no-repeat center center;
    background-size: cover;
}

::-webkit-scrollbar-button {
    display: none;
}

.back-button {
    position: fixed;
    top: 1.04vw; 
    left: 1.04vw; 
    z-index: 1000;
}

.back-button img {
    width: 2.08vw;
    height: auto;
    cursor: pointer; 
}

.header {
    text-align: center;
    margin: 1vw 0; 
}

.header img {
    width: 26vw; 
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2.6vw 0;
    padding: 1.04vw;
}

.text-box {
    width: 45%;
}

.text-box img {
    width: 80%;
}

.image-box {
    width: 40%;
}

.image-box img {
    width: 100%;
    max-width: 41.67vw;
}

.yo {
    width: 10.42vw;
}

.whosgoos {
    width: 25vw;
}

a {
    color: rgba(255, 255, 255, 0.863);
}
